<!DOCTYPE html>
<html lang="pt" 
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="'layout/default'">
	
<head>
	
	<th:block layout:fragment="css-extra">
		<link rel="stylesheet" type="text/css" th:href="@{/bower_components/morris.js/morris.css}"/>
		<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet" /> -->
	</th:block>
</head>
<body class="hold-transition skin-blue-light sidebar-mini sidebar-collapse">

	<section layout:fragment="conteudo">
		<!-- <section class="content-header">
			<h1>
				Impressões <small>Controle de impressões</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i></a></li>
			</ol>
		</section> -->

		<section class="content">
			<div class="box box-default">
					
					<div class="box-body">
						
						<div class="row">
							
							<div class="col-md-4">
							
		          				<div class="chart-responsive">
					          		<div class="chart" id="chartQuotasGrupoID" style="height: 300px; position: relative;"></div>
		          				</div>
					          	
					          	
					        </div>
					        
		          			<div class="col-md-2">
				          		<div id="lgQuotasGrupoID" class="chart-legend clearfix donut-legend"></div>
		          			</div>
		          			
		          			<div class="col-md-6">
							
		          				<div class="chart-responsive">
					          		<div class="chart" id="chartTotalImpressaoDiaID" style="height: 300px; position: relative;"></div>
		          				</div>
					          
					        </div>
														
						</div>
					</div>
					
					<div class="box-footer">
	                  
	                  <div class="row">
	                  
	                    <div class="col-sm-3 col-xs-6">
	                      <div class="description-block border-right">
	                        <h5 class="description-header" th:text="${#numbers.formatInteger(totalTrabalhoImpressaoDia,3,'POINT')}"></h5>
	                        <span class="description-text">Trabalho impressão dia</span>
	                      </div>
	                    </div>
	                    
	                    <div class="col-sm-3 col-xs-6 pull-right">
	                      <div class="description-block border-right">
	                        <h5 class="description-header" th:text="${#numbers.formatInteger(totalPaginasImpressaoDia,3,'POINT')}"></h5>
	                        <span class="description-text">Páginas impressão dia</span>
	                      </div>
	                    </div>
	                    
	                  </div>
	                  
	                </div>
			</div>
		</section>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/bower_components/morris.js/morris.min.js}"></script>
		<script th:src="@{/bower_components/raphael/raphael.min.js}"></script>
		<script th:src="@{/helper/js/chart/graficos-home-config.js}"></script>
	</th:block>
</body>
</html>