<!DOCTYPE html>
<html lang="pt" 
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="'layout/default'">
	
<head>
</head>
<body>

	<section layout:fragment="conteudo">
		<!-- <section class="content-header">
			<h1>
				Impressões <small>Controle de impressões</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i></a></li>
			</ol>
		</section> -->

		<section class="content">
			
			<div class="row">
		
				<div class="col-lg-6 col-xs-6">
		          <div class="small-box bg-aqua-active">
		            <div class="inner">
		              <h2 th:text="${#numbers.formatInteger(totalTrabalhoImpressaoDia,3,'POINT')}"></h2>
		
		              <p>Total de trabalho de impressão no dia</p>
		            </div>
		          </div>
		        </div>
		        
		        <div class="col-lg-6 col-xs-6">
		          <div class="small-box bg-light-blue-active">
		            <div class="inner">
		              <h2 th:text="${#numbers.formatInteger(totalPaginasImpressaoDia,3,'POINT')}"></h2>
		
		              <p>Total de impressões no dia</p>
		            </div>
		          </div>
		        </div>
			
				<div class="col-md-6">
					<div class="box box-default">
						<div class="box-header with-border">
			            	<h3 class="box-title">Quota de impressão por grupo</h3>
		          		</div>
						<div class="box-body">
						
		          			<div id="donutchart" style="height: 400px; position: relative;"></div>
		          			
						</div>
					</div>
				</div>
				
				<div class="col-md-6">
					<div class="box box-default">
						<div class="box-header with-border">
			            	<h3 class="box-title">Quantidade de impressão por dia</h3>
		          		</div>
						<div class="box-body">
						
		          			<div style="height: 400px; position: relative;">
					           <canvas id="barChart"></canvas>
				            </div>
		          			
						</div>
					</div>
				</div>
			
			</div>
		</section>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<!--<script th:src="@{/helper/js/chart/graficos-home-config.js}"></script>-->
		<!-- <script th:src="@{/bower_components/jquery-knob/js/jquery.knob.js}"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
		  google.charts.load('current', {packages: ['corechart']});
		  google.charts.setOnLoadCallback(drawChart);
			
		  function drawChart() {
			 
			  	// - Opções de apresentação
		        var options = {
		          //title: 'Total Quotas por Grupo',
		          pieHole: 0.4,
		        };
				
		        $.ajax({
		        	method: 'GET',
				  	url: '/graficoTotalQuotaGrupo',
			      	dataType: 'json',
			      	contentType: "application/json; charset=utf-8",
		            success: function (data) {
		                
		            	var array = [];		// - Definindo array que receberá os valores do Json retornado da requisição /graficoTotalQuotaGrupo
		                var i = 0;			// - Variável para incremento
		            	
		                // - Percorrendo Json e armazenando valores ao array
		                $.each(data, function () {
		                    array.push([data[i].label, data[i].value]);
		                    i += 1;
		                });
		                
		                var lista = google.visualization.arrayToDataTable(array, true)	// - Fazendo o bind do array para o tipo ArrayDataTable do gráfico

		             	// - Definindo o tipo de gráfico e buscando o id da div que está na tela onde o gráfico será apresentado
		                var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
		                
		                var formatter = new google.visualization.NumberFormat({negativeColor: 'red', negativeParens: true, pattern: '#.###'});
		                formatter.format(lista, 1);

		                chart.draw(lista, options);   // - Adiciona ao objeto de gráfico os dados e opções de apresentação.
		            },
		            error: function (XMLHttpRequest, textStatus, errorThrown) {
		                alert('Erro ao Renderizar Gráfico');
		            }
		        });
		  }
		  
		  $.ajax({
				
				method: 'GET',
				url: '/graficoTotalImpressaoPorDia',
			    dataType: 'json',
			    success: function (json) {
			    	
			    	var labels = [], data = [];

			        for (var i = 0; i < json.length ; i++){
			                
			        		labels.push(json[i].label);
			                data.push(json[i].value);
			                
			        }
			    	
			        var barChart = new Chart(document.getElementById("barChart").getContext('2d'), {
					  type: 'bar',
						data: {
						    labels: labels,
						    datasets: [{
						      label: 'Valor',
						      data: data,
						      backgroundColor: "rgba(36, 65, 229, 0.85)"
						    }]
						  } ,
						  options: {
							  legend: {display: false},
						      responsive: true,
			  				  tooltips: {
			  				        callbacks: {
			  				            label: function(tooltipItem, data) {
			  				            	return tooltipItem.yLabel;
			  				            }
			  				        }
			  				    },
				  				  scales: {
				  			        yAxes: [{
				  			          ticks: {
				  			            //beginAtZero: true,
				  			            callback: function(value, index, values) {
				  			              if(parseInt(value) >= 1000){
				  			                return value;
				  			              } else {
				  			                return value;
				  			              }
				  			            }
				  			          }
				  			        }]
				  			      }
						    }
					});
			    }
			});


		</script>
		
		
	</th:block>
</body>
</html>