<!DOCTYPE html>
<html lang="pt" 
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="'layout/default'">
	
<head>
</head>
<body>
	
	<section layout:fragment="conteudo">
		<!-- <section class="content-header">
			<h1>
				Home <small>Tela principal</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i></a></li>
			</ol>
		</section> -->
		
		<section class="content">
			
			<div align="center">
				<i class="fa fa-print fa-5x" aria-hidden="true"></i>
			</div>
				
		</section>
		
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/bower_components/morris.js/morris.min.js}"></script>
		<script th:src="@{/bower_components/raphael/raphael.min.js}"></script>
		<script th:src="@{/helper/js/chart/graficos-home-config.js}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
	</th:block>
</body>
</html>